In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "PyBank/Resources/budget_data.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
#The total number of months included in the dataset
num_of_months=df["Date"].count()
print(num_of_months)

86

In [4]:
#The net total amount of "Profit/Losses" over the entire period
total_profit_loss= df["Profit/Losses"].sum()
total_profit_loss

38382578

In [5]:
#The average of the changes in "Profit/Losses" over the entire period
avg_profit_loss=df["Profit/Losses"].mean()
avg_profit_loss

446309.0465116279

In [6]:
#The greatest increase in profits (date and amount) over the entire period
max_increase=df["Profit/Losses"].max()

print(max_increase)

greatest_increase_month = df.loc[df['Profit/Losses'] == max_increase, 'Date']
max_month=greatest_increase_month.values[0]
# Print the result 
print(max_month)

1170593
Feb-2012

In [7]:
#The greatest decrease in losses (date and amount) over the entire period
min_decrease=df["Profit/Losses"].min()

print(min_decrease)

min_decrease_month = df.loc[df['Profit/Losses'] == min_decrease, 'Date']
min_month=min_decrease_month.values[0]
# Print the result 
print(min_month)

-1196225
Sep-2013

In [8]:
a="Financial Analysis"
b=" "
c="Number of Months : $"+ str(num_of_months)
d="Total : $"+ str(total_profit_loss)
e="Average Change : $" + str(avg_profit_loss)
f="Greatest Increase in Profits and Date : $" + str(max_increase)+ " on " +str(max_month)
g="Greatest Decrease in Profits and Date : $" + str(min_decrease) + " on " + str(min_month)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

Financial Analysis

Number of Months : $86
Total : $38382578
Average Change : $446309.0465116279
Greatest Increase in Profits and Date : $1170593 on Feb-2012
Greatest Decrease in Profits and Date : $-1196225 on Sep-2013

In [9]:
#Create Dataframe
info=[a,b,c,d,e,f,g]
df_export=pd.DataFrame(info)
df_export

                                                   0
0                                 Financial Analysis
1
2                             Number of Months : $86
3                                  Total : $38382578
4                Average Change : $446309.0465116279
5  Greatest Increase in Profits and Date : $11705...
6  Greatest Decrease in Profits and Date : $-1196...

In [10]:
#export
df_export.to_csv("Financial_Analysis_Jas_Final",index=False,header=False)